@import "../../styles/styles-variables";

.header {
  background-color: $main-color;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &-nav {
    &-list {
      list-style: none;
      display: flex;
      justify-content: center;

      &-item {
        padding: 0.5rem;
        text-align: center;
      }
    }
  }
}
