@import "../../styles/styles-variables";

.header {
  background-color: $main-color;
  height: 3.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__nav {
    &__list {
      display: flex;
      justify-content: center;
    }
  }
}
