@import "../../styles/styles-variables";

.main {
  background-color: $main-background-color;
  flex: 1 1;

  &__content {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: $breakpoint-desktop) {
  .main {
    &__content {
      flex-wrap: wrap;
    }
  }
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}
