@import "../../styles/styles-variables";

.main {
  background-color: $main-background-color;
  flex: 1 1;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $breakpoint-desktop) {
  .main {
    flex-wrap: wrap;
  }
}
