$header-background-color: #2d2d2d;
$picture-frame-color: #323232;
$chat-background-color: #353535;
$picture-background-color: #444444;
$main-background-color: #dadada;
$font-color: #ffffff;

$breakpoint-mobile: 640px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1201px;
