$main-background-color: #dadada;

$main-color: #2d2d2d;
$second-color: #323232;
$third-color: #353535;
$fourth-color: #383838;
$fifth-color: #3c3c3c;
$sixth-color: #444444;
$seventh-color: #5c5c5c;
$eight-color: #5f5f5f;
$ninth-color: #b0b0b0;

$font-color: #ffffff;

$breakpoint-mobile: 640px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1201px;
