@import "../styles/styles-variables";

.card {
  margin: 1rem;
  max-width: 36%;
  overflow: hidden;

  &__head-wrapper {
    max-width: 30rem;
    background-color: $seventh-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.625rem 0.625rem 0 0;

    &__img {
      margin: 1.5rem;
      border-radius: 1rem;
    }

    &__header {
      padding: 0 2rem 2rem 2rem;
      line-height: 1.375rem;

      &__title {
        font-size: 1.125rem;
      }

      &__description {
        font-size: 0.875rem;
      }

      &__text {
        font-size: 0.75rem;
      }
    }
  }

  &__comments {
    max-height: 17rem;
    width: 100%;
    max-width: fit-content;
    background-color: $third-color;
    padding: 1rem 0;
    border-radius: 0 0 0.625rem 0.625rem;

    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
  .card {
    max-height: 37rem;
    max-width: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 0.625rem;

    &__head-wrapper {
      width: 90%;
      flex-direction: column-reverse;
      justify-content: space-between;
      border-radius: 0.625rem 0 0 0.625rem;

      &__header {
        padding: 1rem 1rem 0rem 2rem;
      }
    }

    &__comments {
      background-color: $main-color;
      width: 100%;
      border-radius: 0 0.625rem 0.625rem 0;
      height: 0;
      padding-bottom: 62%;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .card {
    max-width: 90%;
    border-radius: 0.625rem;
  }
}
