@import "styles/styles-variables";

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &-header {
    background-color: $header-background-color;
  }

  &-main {
    background-color: $main-background-color;
    flex: 1 1;
  }
}
